In [1]:
import pandas as pd
import numpy as np

In [3]:
df_paid = pd.read_csv('Data/payments.csv')
month_paid = pd.read_csv('Data/month_paid.csv')
df_collect = pd.merge(month_paid,df_paid,on=['slug','month'],how='outer')

In [4]:
df_collect

                slug    month  amount_paid  ranked_month
0        ac516402019  2019-11       3500.0           1.0
1        ac516402019  2019-12       1000.0           2.0
2        ac516402019  2020-01       4000.0           3.0
3        ac516402019  2020-02       4000.0           4.0
4        ac516402019  2020-03       4000.0           5.0
...              ...      ...          ...           ...
3843062  ac998872023  2023-05      55000.0           1.0
3843063  ac998902023  2023-04      34500.0           1.0
3843064  ac999042023  2023-04      20000.0           1.0
3843065  ac999042023  2023-05      15000.0           2.0
3843066  ac999072023  2023-04      20000.0           1.0

[3843067 rows x 4 columns]

In [6]:
df_collect.isnull().sum()

slug                  0
month                 0
amount_paid     2964565
ranked_month    2964565
dtype: int64

In [7]:
df_annual = pd.read_csv('Data/annual.csv')
df_mois  = pd.read_csv('Data/monthly.csv')
df_paid = pd.read_csv('Data/payments.csv')
month_paid = pd.read_csv('Data/month_paid.csv')
df_collect = pd.merge(month_paid,df_paid,on=['slug','month'],how='outer')
df_collect['amount_paid'].fillna(0,inplace=True)
df_zone = pd.read_csv('Data/zones.csv')
df_prod = pd.read_csv('Data/group_products.csv')
last_month = max(df_paid['month'])
df_expected = pd.concat([df_mois,df_annual],ignore_index=True)
df_expected['total_expect_amount'] = np.where(df_expected['cum_expect_amount']>df_expected['amount_moins_deposit'],df_expected['amount_moins_deposit'],df_expected['cum_expect_amount'])
df_collect = df_collect.sort_values(by='month')
df_collect['total_paid'] = df_collect.groupby('slug')['amount_paid'].cumsum()
df_collect['month_index'] = df_collect['ranked_month'].apply(lambda t: 'M-'+str(t))
df1  = pd.merge(df_expected[df_expected['month']<=last_month],df_collect,on=['slug','month'],how='inner')
df1['registration_date'] = pd.to_datetime(df1['registration_date'], errors='coerce')
df1["date_at"] = pd.to_datetime(df1["date_at"], errors='coerce')

df1['reg_month'] = df1['registration_date'].apply(lambda t: t.strftime("%Y-%m"))
data = pd.merge(df1,df_zone,on='slug',how='inner')
data = pd.merge(data,df_prod,on='group_id',how='inner')
data.to_csv('Data/finale_data.csv',index=False)

In [2]:
data = pd.read_csv('Data/finale_data.csv')

In [3]:
print(data.shape)

(3118480, 27)

In [4]:
data = data[data['reg_month']>'2019-12']

In [5]:
data.head()

,id,slug,user_id,registration_date,date_at,month,total_amount,arrhes,amount_moins_deposit,group_name,...,ranked_month,total_paid,month_index,reg_month,commune,region,agent,username,category,payment_type
42058,65327,ac653272020,1695,2020-11-30,2020-12-30,2020-12,355000,55000,300000,WowSolarTV19 - Mensuel - SN,...,1.0,23023.0,M-1.0,2020-11,UNKNOWN,UNKNOWN,Deyine Jiddou,agent.deyine,TV wowsolar,Monthly
42059,65327,ac653272020,1695,2020-11-30,2021-01-30,2021-01,355000,55000,300000,WowSolarTV19 - Mensuel - SN,...,2.0,130531.0,M-2.0,2020-11,UNKNOWN,UNKNOWN,Deyine Jiddou,agent.deyine,TV wowsolar,Monthly
42060,65327,ac653272020,1695,2020-11-30,2021-02-28,2021-02,355000,55000,300000,WowSolarTV19 - Mensuel - SN,...,3.0,337037.0,M-3.0,2020-11,UNKNOWN,UNKNOWN,Deyine Jiddou,agent.deyine,TV wowsolar,Monthly
42061,65327,ac653272020,1695,2020-11-30,2021-03-28,2021-03,355000,55000,300000,WowSolarTV19 - Mensuel - SN,...,4.0,349981.0,M-4.0,2020-11,UNKNOWN,UNKNOWN,Deyine Jiddou,agent.deyine,TV wowsolar,Monthly
42062,65327,ac653272020,1695,2020-11-30,2021-04-28,2021-04,355000,55000,300000,WowSolarTV19 - Mensuel - SN,...,5.0,351281.0,M-5.0,2020-11,UNKNOWN,UNKNOWN,Deyine Jiddou,agent.deyine,TV wowsolar,Monthly

In [6]:
# data.to_csv('Data/finale_data.csv',index=False)

In [7]:
set('abc')

{'a', 'b', 'c'}